name: Manual Workflow

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'This a name'
        type: string
        default: 'test'

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Greetings
        run: echo "hello, world!"  
